include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include cargo_management *.css
recursive-include cargo_management *.csv
recursive-include cargo_management *.html
recursive-include cargo_management *.ico
recursive-include cargo_management *.js
recursive-include cargo_management *.json
recursive-include cargo_management *.md
recursive-include cargo_management *.png
recursive-include cargo_management *.py
recursive-include cargo_management *.svg
recursive-include cargo_management *.txt
recursive-exclude cargo_management *.pyc