// Duplicated Mixing -> frappe/public/scss/desk/form.scss
@mixin form-message-background($color, $theme: "light") {
	@if $theme == "light" {
		border: 1px solid var(--#{$color}-100);
		color: var(--#{$color}-800);
		background: var(--#{$color}-100);
	}
	@if $theme == "dark" {
		border: 1px solid var(--#{$color}-700);
		color: var(--#{$color}-100);
		background: var(--#{$color}-800);
	}
}

// This is for the "frm.layout.show_message()", see: frappe/form/layout.js -> show_message()
.form-message {
  &.gray {
    @include form-message-background("gray");
  }

  &.purple {
    @include form-message-background("purple");
  }

  &.pink {
	@include form-message-background("pink");
  }
}
