// Transportation MultiCheck
div.frappe-control[data-fieldtype="TransportationMultiCheck"] {
	.checkbox.unit-checkbox {
		border-radius: 6px;

		input {
			display: none;
		}

		label {
			display: block !important;

			.label-area {
				color: currentColor;
			}

			&:has(input:checked) {
				background-color: currentColor;

				.label-area {
					color: white !important;
				}
			}
		}
	}
}
