// Overrides and adds to core.
// Used to add custom status colors for Package Doctype indicators-pills|dots and intro messages.
// See: package_list.js for color references

// frappe/public/scss/common/indicator.scss
// This is for the indicator dot color, see: list_view.js -> get_indicator_dot()
@mixin indicator-color($color) {
  &::before,
  &::after {
    background: var(--text-on-#{$color});
  }
}

// FIXME: In core colors are set only for .indicator-pill Used in: Workspace(shortcut), List-View(row status field) and Form-View(status indicator))
// As a .indicator it will be used in: List-View(row status indicator dot) shown in mobile. See -> get_indicator_dot()
.indicator {
  &.purple {
    //@include indicator-color('purple');
  }

  &.lightblue {
    //@include indicator-color('light-blue');
  }
}


// frappe/public/scss/desk/form.scss
// This is for the get_detailed_status_message in form view Package doctype, see: layout.js -> show_message()
@mixin form-message-background($color) {
  background: var(--bg-#{$color});
  color: var(--text-on-#{$color});
}

.form-message {
  &.lightblue {
    @include form-message-background('light-blue')
  }

  &.purple {
    @include form-message-background('purple')
  }

  &.gray {
    @include form-message-background('light-gray')
  }

  &.pink {
    @include form-message-background('pink')
  }
}
