<div class="results">
    {% for item in doc.items %}
        <div class="item-data">
            <p>Producto: {{ item.url }}</p>

            {% if doc.purchase_assistance %}
                <p>
                    Costo del Producto: ${{ item.product_price }}

                    {% if item.has_shipping %}
                        <br>Costo de Envio del Producto: ${{ item.shipping_price }}
                    {% endif %}

                    {% if item.has_taxes %}
                        <br>Impuesto del Producto: ${{ item.taxes }}
                    {% endif %}

                    {% if item.has_shipping || item.has_taxes %}
                        <br>Total del producto: ${{ item.product_total }}
                    {% endif %}
                </p>
            {% endif %}

            {% if doc.detail_pricing %}
                {% if item.import_price_type == 'Weight' %}
                    <p>Costo por Libra: ${{ item.import_price_per_pound }} x libra</p>
                {% else %}
                    <p>Porcentaje de Importacion: {{ item.import_percentage }}%</p>
                {% endif %}
            {% endif %}

            {% if item.import_price_type == 'Weight' %}
                <p>
                    Peso Aprox del Producto: {{ item.weight }} LB <br>
                    Importacion Aprox a Managua: ${{ item.import_price }}
                </p>
            {% else %}
                <p>Importacion a Managua: ${{ item.import_price }}</p>
            {% endif %}

            {% if doc.purchase_assistance %}
                <p>Total del producto en sus manos: ${{ flt(item.product_total + item.import_price, 2) }}</p>
            {% endif %}

            <p>Fecha estimada de llegada al Almacen:
                {% if item.longest_arrival_date %}
                    Entre el {{ item.closest_arrival_date }} y el {{ item.longest_arrival_date }}
                {% else %}
                    {{ item.closest_arrival_date }}
                {% endif %}
            </p>

            <p>Fecha estimada de entrega en Managua:
                {% if item.longest_arrival_date %}
                    En la semana del {{ item.closest_delivery_date }} o la semana del {{ item.longest_delivery_date }}
                {% else %}
                    En la semana del {{ item.closest_delivery_date }}
                {% endif %}
            </p>
        </div>
        <hr>
    {% endfor %}
</div>
